.home{
  background-color: #FCBF49;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  background-color: #EAE2B7;
  height: 90vh;
  width: 95%;
}