@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300&family=Rubik+Glitch&family=Silkscreen:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}